[2014-08-06 16:34] aransfor opened #2 "rigol server"
rigol sleeps and output seems to shut off after a bit in DAC mode for DC voltages

[2014-10-01 18:26] jayich opened #3 "remove qt4reactor.py from multiplexer client folder"

[2014-10-29 05:47] jayich opened #5 "normalpmtflow"
@aransfor

For pmt.get_next_counts('ON', 1) we should be able to set a duration for which it will just return 0. kCts/second after.

[2014-10-29 18:41] jayich opened #6 "data vault signal when CSV is done being written"
Need this for reliable automated analysis

@aransfor

[2014-10-29 22:25] jayich opened #7 "script scanner node startup"
Script scanner does not reliable start when running the node script.

[2015-01-27 00:49] jayich opened #12 "move script_scanner out of the abstractservers directory"

[2015-01-27 01:32] jayich opened #14 "script_scanner error message"
When the default parameter value is out of range the error message thrown by script_scanner is not clear, it shows as the parameter is missing.

[2015-01-28 09:27] jayich opened #15 "only one script_scanner error message window should be open"
script_scanner should only ever have one error message window open at a time.  Successive experiment runs and corresponding errors should close old error message windows.

[2015-01-29 20:26] gregllong opened #16 "Need to change datavault file name "dvascii.py" to something more sensible."

[2015-01-31 22:55] jayich opened #17 "parameter vault subdirectories"
To make parameter vault easier to manage, collections should have the option to be held at an arbitrary directory depth.

[2015-01-31 22:56] jayich opened #18 "scritpscanner directories"
Sciptscanner should be able to store experiments in directories, so that collections of similar experiments can be easily accessed in one place within scriptscanner.

[2015-01-31 22:57] jayich opened #19 "scriptscanner gui scaling"
The collection panel should scale to a larger size when the screen is stretched, not the parameter panel.

[2015-01-31 22:57] jayich opened #20 "scriptscanner should order parameters alphabetically"

[2015-02-03 23:53] jayich opened #21 "data vault dying"
A memory error causes data vault to fail after too many matrices have been saved.

[2015-02-05 17:06] aransfor commented on #21
In what way does it fail? is there an error message?

[2015-02-05 17:08] aransfor commented on #16
I am going to close this issue as we will be merging common with the haeffner lab and dvascii needs to be different than datavault.py as it is different from the martinis group

[2015-02-05 17:08] aransfor commented on #2
seems ok closing

[2015-02-05 17:08] #2 closed

[2015-02-05 17:11] aransfor commented on #3
removed... hopefully nothing goes wrong

[2015-02-05 17:11] #3 closed

[2015-02-05 17:13] aransfor commented on #12
Im assigning this to you andrew, QSIM is good to go with this move, as for you I believe there is nothing you need to change (the node searches the whole directory for script_scanner.py)

[2015-02-05 17:15] aransfor commented on #6
I am assigning this to XP so he can see if this is still required as I believe this is sorted out. XP close this if it is no longer an issue

[2015-02-05 17:16] aransfor commented on #20
I would think this will be easy...

[2015-02-05 17:17] aransfor commented on #19
This too should be easy but I will put it at low priority

[2015-02-05 17:17] aransfor commented on #17
I will make a point to discuss this with dylan next week

[2015-02-05 17:18] aransfor commented on #15
probably easy too.. this is closer to a bug so ill make it a higher priority

[2015-02-05 17:20] aransfor commented on #14
Im not clear on this, how is the parameter out of range, doesnt the registry fix max/min values and scriptscanner only allow these inputs?

[2015-02-05 17:20] aransfor commented on #7
low priority bug will look at though

[2015-02-05 17:25] aransfor commented on #5
can this be fixed programatically in the experiment? such as

counts = pmt.get_next_counts('ON',1)
if:  counts
     print "these are the counts: ", counts
else:
    counts = 0
     print "counts are zero"

this is pretty explicit and doesnt rely on adding false counts. also it keeps versatility such as you could use

while not pmt.get_next_counts('ON',1):
        do something until counts arrive

[2015-02-06 06:47] jayich commented on #5
I believe that it will hang indefinitely on:

counts = pmt.get_next_counts('ON',1)

I think a timeout needs to be set on the server.

[2015-02-07 06:31] aransfor commented on #5
Thinking about this more the server should just have a timeout on that function that after .1 seconds returns None

[2015-02-07 23:19] jayich commented on #5
It should return 0 kc/s after the timeout.  We don't want the user to have to error check for None.  A default timeout of 0.1 sounds fine.  This should be settable with something like:

and callable with

Value(0.12, 's')

[2015-02-10 21:02] jayich opened #22 "dual pmt clients need to be connected properly"
pmts = cxn.dual_pmtflow

pmts.pmt_state(1, True)
and
pmts.pmt_state(2, True)
need to be connected properly to the Primary and Secondary PMT clients.

[2015-02-19 02:19] jayich opened #23 "Temperature plotter 1 hour and 2 hour failing"
These two plot functions are not working.  The other plot functions all work.

[2015-02-24 17:38] aransfor commented on #23
@jayich  As of February 19 the temperature reader has been unpowered and not taking data (this is when this issue was brought up) when there is no data in the time period the temp client fails. Perhaps this should be modified to alert people the temp client is down. Perhaps there was a power outage. Anyhow I re plugged in the monitor box and it immediatly started working

[2015-02-24 17:38] #23 closed

[2015-03-04 19:09] jayich opened #24 "DDS Device Server"
need a time.sleep in the server or client

[2015-03-04 19:12] jayich commented on #24
The serial device server accessing opening the COM port shuts off the DDS outputs.

[2015-03-04 19:14] jayich opened #25 "dds server does not start if serial server is accessing a dds com port"

[2015-03-04 19:19] jayich opened #26 "Change Arduino baudrate of DDS controller"
The current baudrate is 9600, we want 15200.

[2015-03-09 03:51] aransfor commented on #26
115200 is too fast, reset baud rate to 57600.

[2015-03-09 03:51] #26 closed

[2015-03-09 03:53] aransfor commented on #24
Added time.sleep to server, server requests are fully synchronous now. However there may be a delay.

[2015-03-09 03:53] #24 closed

[2015-04-02 19:20] jayich commented on #7
hitting this bug again.

[2015-04-21 19:49] jayich opened #27 ""Run" button on script scanner"
Make explicit in the appropriate scriptscanner docstring what the "Run" button the scriptscanner gui connects to.

[2015-04-21 20:11] jayich opened #28 "parameters in experiments as class attributes"
Parameters in experiments should not be defined as class attributes.  Parameters should be assigned as instance attributes.

See: http://www.toptal.com/python/python-class-attributes-an-overly-thorough-guide

This likely involves changes to scriptscanner.py and experiment.py

[2015-04-22 19:35] jayich commented on #28
This is done in experiment_info that experiment inherits.

[2015-04-29 19:47] jayich opened #30 "wavemeter buttons should not change size"
Wavemeter On and Lock Wave Meter On buttons scale when changing the client's window size.

[2015-04-29 19:52] aransfor commented on #30
I like this, its not a bug

[2015-05-05 18:15] jayich opened #32 "ScriptScanner save parameters"
It would be great to have a button on ScriptScanner that saves all of the current parameters values to ParameterVault.

[2015-05-06 02:47] jayich commented on #16
reopening.

[2015-05-09 18:09] jayich opened #33 "rigol local control command"
SYSTem:LOCal command sent to Rigol so that you can return it to local control, after sweeping a voltage, for example

[2015-05-12 00:43] jayich opened #34 "temperature plot legend location"
Move the legend to the left middle part of the plot, or perhaps better, outside the plot entirely.

[2015-05-16 03:59] jayich opened #35 "scriptscanner - can't enter values easily"
You can't type values into the parameter spinbox outside of the allowed parameter range.

For example if 0 is not an allowed value I can't delete 1 and then type 2 because 0 is not an allowed value.

[2015-05-16 04:16] jayich commented on #35
also can't type in more than the allowed precision, so if there are too many zeroes for example you have to delete them.

[2015-05-20 16:26] aransfor commented on #21
is this  still an issue? and if so we need more info like what is the error message, how/when does it fail

[2015-05-20 16:27] aransfor commented on #7
have you looked at the node script on this to debug it?

[2015-05-22 06:26] jayich commented on #21
This happened again tonight.  We have saved a screenshot of the error message.

[2015-05-22 06:31] jayich opened #36 "scriptscanner error log"
Scriptscanner should probably have an error log that saves its error messages.  Alternatively just being able to copy and paste the error text would be a good start.

[2015-06-15 23:11] jayich opened #37 "LabJack round off the returned value to something close to device precision."

[2015-06-15 23:12] jayich opened #38 "LabJack server - return an error when an invalid channel is used."

[2015-06-15 23:12] jayich opened #39 "LabJack WithUnits for setting voltage"

[2015-06-16 00:13] jayich commented on #39
closed via https://github.com/CampbellGroup/common/commit/efe0d5f95ae42dbe9ef90ef8205cde80927c5717

[2015-06-16 00:13] #39 closed

[2015-06-16 00:13] jayich commented on #37
closed via https://github.com/CampbellGroup/common/commit/efe0d5f95ae42dbe9ef90ef8205cde80927c5717

[2015-06-16 00:13] #37 closed

[2015-06-17 07:29] jayich opened #41 "rename arduinottl folder and modulename"
The folder name and module name should more accurately reflect the server name.  The server is hard to find at the moment.

[2015-06-17 07:30] jayich opened #42 "File should probably be deleted"
https://github.com/CampbellGroup/common/blob/e5a3c68cff52b713aac95b207c82ab0d44ac3b89/lib/servers/shutterandswitch/Arduinoshutterandswitchserver.py~

Not sure how this got there.  I don't know what a .py~ file is supposed to mean.

[2015-10-16 06:09] jayich opened #52 "No autoplot when scanning with scriptscanner"
A pygrapher live window automatically appears when you scan a variable over multiple experiments.

[2015-10-16 06:24] jayich opened #53 "scriptscanner scan parameters"
Give experiments the option to make a smaller subset of parameters available for scanning.

[2015-10-16 06:25] jayich opened #54 "scriptscanner buttons"
Have buttons instead of check boxes for Booleans.

[2015-10-19 20:57] jayich opened #56 "wavemeter client does not look at current wavemeter settings"
I believe the default functionality for things such as exposure time for a wavemeter client should be to check the exposure time setting on the wavemeter and use that value.  I don't think this is the case at present.

[2015-10-19 21:01] jayich opened #57 "Ability to make the wavemeter client smaller"
Currently there is extra vertical space that could be cut so that the client could more easily fit on smaller screens (such as netbooks).

[2015-10-20 03:25] jayich opened #58 "scriptscanner displayed text is cut off"
The text on script scanner where an experiment runs is cut off.

[2015-10-20 03:42] jayich opened #59 "scriptscanner scan value"
scriptscanner should display the current value that is being scanned.

[2015-10-28 20:50] jayich opened #63 "eliminate _base_value dependence"
We should not be using hidden attributes of WithUnits in our code.

[2015-11-07 19:39] jayich opened #64 "dual pmt initialization"
The dual pmt servers should start recording on server startup.

[2015-11-18 06:04] jayich opened #68 "pygrapherlive default no points"
By default it should not plot the points.

[2015-12-28 18:04] aransfor opened #71 "Node Client Error Handling"
The node client does not recognize if a local server in its available_servers() list is being run or if a previous node instance has started one of these servers. An "Error with xxx node" is produced despite a functioning server running.

            for server in nodeDict[node]:
                if server in running_servers:#cxn.servers:
                    print server + ' is already running'

[2015-12-28 18:06] aransfor commented on #7
I have figured out what is going on and opened up a more explicit issue here

https://github.com/CampbellGroup/common/issues/71

[2015-12-28 18:06] #7 closed

[2015-12-29 19:32] jayich opened #75 "scan/parameter classes"
As is I believe these are imported into experiments and scriptscanner as tuples that are parsed.  It would be great to import these as classes with attributes such as "min", "max", "numberofsteps", etc.  We could first write a method that would parse everything that is input into self.parameters into these new classes and write experiments with the new attributes, then work to make other parts of

[2016-01-09 23:00] aransfor commented on #68
The new grapher uses pyqtgraph and looks like it will be highly configurable

[2016-01-16 21:04] jayich opened #76 "qt4reactor should go in site-packages"
See the module page here:

https://pypi.python.org/pypi/qt4reactor/1.6

We should remove this code from common.

[2016-01-18 03:42] aransfor commented on #76
So we should make qt4reactor its own folder in site-packages? i don't quite understand that link, how do people who use this deal with this?

[2016-01-18 03:52] jayich commented on #76
We should just trying running pip install qt4reactor and see if/where it is installed.

[2016-01-18 03:54] aransfor commented on #76
sounds good, ill look into it tomorrow perhaps

[2016-01-24 05:49] jayich commented on #76
This appears to be the GitHub site for qt4reactor.py

https://github.com/ghtdak/qtreactor

Perhaps though we should get it from pypi.

[2016-02-04 22:13] jayich opened #78 "Distribute a hook that prevents pushing to master."

[2016-02-04 22:21] aransfor commented on #78
what is this hook?

[2016-02-04 23:20] jayich commented on #78
I think we want a pre-push hook that just blocks any pushes to origin/master.

overview:
https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks

[2016-03-26 21:24] aransfor commented on #63
can we clarify if and where this exists?

[2016-03-26 21:27] aransfor commented on #56
to clarify, when starting a client the exposure can be changed from the last set value. Im assigning this as a bug to @theoriginaljuice since he is ass deep in wavemeter stuff right now

[2016-03-26 21:28] jayich commented on #63
I just searched the repository (albeit through githubs search) and didn't find any instances.

[2016-03-26 21:28] #63 closed

[2016-03-26 21:31] aransfor commented on #52
Im not sure what to say about this except that moving to the new grapher seems like a good idea since the pygrapherlive code is a shit show

[2016-03-26 21:39] jayich commented on #52
This problem is grapher independent.

[2016-03-26 21:40] #42 closed

[2016-03-26 21:43] aransfor commented on #52
maybe I misunderstand, the new grapher doesnt even use matplotlib... I believe this is a problem with data vault taking the plotlive=True function many times which again doesnt exist in the new grapher, it takes the ouptut of a dataset and plots on a single tab. No windows pop up ever on the new grapher

[2016-03-26 21:46] jayich commented on #52
Sounds good.

[2016-03-26 21:51] aransfor commented on #78
pre-push hooks would require a file on every computer and window/linux nonsense. GIThub now provides protected branches and I have protected master from force pushes and deletion

[2016-03-26 21:51] #78 closed

[2016-03-30 04:34] aransfor commented on #58
@jayich  your referring to being vertically cutoff correct?

[2016-03-30 17:09] jayich commented on #58
Yes, I believe so.  I don't remember if it is the top or bottom of the text that is cutoff.

[2016-03-31 03:04] #58 closed

[2016-04-01 18:14] aransfor commented on #35
@jayich I looked into this a bit. It seems this is a limitation of how the qspinbox works fundamentally, not scriptscanner. I will look a little bit more but this may not be possible without creating a custom widget in a non-trivial way

[2016-04-01 18:17] aransfor commented on #20
@jayich unless Im missing something, my parameters are all alphabetical, also the categories are alphabetical

[2016-04-13 00:11] aransfor opened #83 "Wavemeter legacy code"
@gregllong @jayich Since the wavemeter clients, widgets and experiments, locking and line scans (as well as Hudson experiments) and such use the old style method naming (ie changeExposure) for methods this should be refactored some time in the future. As for the new modifications I propose we stay consistent here with the old style as @theoriginaljuice  has done.

pep8 says,

Function Names
Functi

[2016-04-13 00:20] jayich commented on #83
I propose we break from camel case with all new functionality, and use lower case with underscores for functions and methods and capitalize words in class names.

[2016-04-13 00:23] aransfor commented on #83
What is camel case? I assume you mean the mixedcase? I agree. That's why I started this refactoring issue. I'm just not sure anyone has the time to do it right now

[2016-04-13 00:25] jayich commented on #83
I'm proposing that we don't use camel case for all new functionality, so new edits that @theoriginaljuice  is making fall under this umbrella.  Refactoring sounds great.

[2016-04-13 00:29] aransfor commented on #83
I guess this would be explicitly not pep8

[2016-04-13 00:44] jayich commented on #83
pep8 changes made here: https://github.com/CampbellGroup/common/pull/84

[2016-04-19 04:28] aransfor opened #87 "Wavemeter update has compatibility issues with"
Some functions for the Campbell wavemeter requir e different data types than the Hudson wavemeter

[2016-04-22 16:27] aransfor opened #88 "wavemeter hint"
Set frequency does not load with wavemeter hint (instead loads last locked value)

[2016-04-29 23:27] jayich opened #93 "rename headless data vault."

[2016-05-02 23:05] jayich opened #96 "common/lib/laser_setpoint"
move this file somewhere meaningful or delete.

[2016-05-02 23:18] aransfor commented on #96
This can go in Qsim I think. Its pretty general code for the AD660 DAC chip which is what I want to use for the DAC's on our experiment

[2016-05-05 04:52] aransfor commented on #83
Fixed in #84

[2016-05-05 04:52] #83 closed

[2016-05-10 15:53] aransfor commented on #87
Solved with #91

[2016-05-10 15:53] #87 closed

[2016-05-10 16:33] aransfor commented on #76
closing issue due to #101

[2016-05-10 16:33] #76 closed

[2016-05-11 19:09] aransfor commented on #96
@jayich so moving git history is a nightmare.... I think that this will develop into a server or become depricated but until then i think this stays

[2016-05-12 07:04] #96 closed

[2016-05-12 20:08] aransfor commented on #88
This is a base case problem, goes away after setting the wavemeter once... hint is only used for color now

[2016-05-12 20:08] #88 closed

[2016-05-15 18:50] aransfor opened #111 "pylabrad releases and scalabrad"
@jayich @gregllong @theoriginaljuice @michaelip9228 @ypark137  @DavidH @calvinzhe @djgorman

There have been significant changes to LabRAD and how users interact with the manager and the node.  I propose that as a shared code base we pick a version of pylabrad (most likely 0.95.3) and all upgrade at once and only upgrade to new LabRAD versions once a consensus is reached. The requirements.txt file

[2016-05-15 18:55] gregllong commented on #111
I have figured out how to run the multiplexer server on scalabrad-web manager, and I was able to use the wavemeter with updated pylabrad versions. I was not able to get around the password issue though (password pops up every time I connect to the wavemeter computer). For some reason when I connect to scalabrad manager running on magic, I do not have the password issue, and though I have played ar

[2016-05-15 18:57] aransfor commented on #111
@gregllong now worries, well figure this out

[2016-05-15 22:13] therealvalerieransford commented on #111
@gregllong :8ball: :8ball: :8ball: :+1:

[2016-05-20 14:25] aransfor opened #116 "Hardware test in common"
There seems to be a test file for Peters dds box in hardware tests. This should probably go in molecules?

[2016-05-20 15:33] jayich commented on #116
@aransfor , the corresponding server under test is in common.

[2016-05-20 15:34] aransfor commented on #116
I see, perhaps this is not common either

[2016-05-20 15:36] jayich commented on #116
Right now the device is specific to molecules, but I don't see that being the case in the future.  I don't think it the server should be moved.

[2016-05-20 15:37] aransfor commented on #116
Ok

[2016-06-03 03:49] jayich opened #123 "parameter_vault and the Registry are problematic"
It appears that unless .pyc files (most likely those associated with parameter vault) are deleted, changes to Registry are reverted when parameter vault is restarted.

[2016-06-03 04:30] jayich commented on #123
When shutting down parameter vault from the manager if *.pyc's have not been deleted the original keys and values will get stored in the Registry.

[2016-06-03 04:35] jayich commented on #123
In order to make and save changes to parameter vault collections in the registry it appears that parameter vault has to be shutdown, otherwise changes will be reverted when parameter vault is shutdown (regardless of *.pyc files).

[2016-06-07 07:56] jayich opened #126 "better condition in parameter_vault"
see comment here:

https://github.com/CampbellGroup/common/pull/124

[2016-06-29 23:46] calvinzhe commented on #111
The computers in the Barium Group have scalabrad and scalabrad-web up and
running.  Apparently the web client is currently only compatible with
the Chrome browser.

I also just found out that in the new version of pylabrad, the node server
is no longer started using twistd -n labrad node.  Instead, it is started
by running the __init__.py file located in the /labrad/node/ folder

On Sun, May 15, 2

[2016-06-29 23:50] aransfor commented on #111
@calvinzhe you can also start it by typing python -m labrad.node The new node also provides a GUI in the web browser (as well as the registry)  where you can add auto start servers to the node registry folder as well as start and stop servers

[2016-07-02 19:12] aransfor commented on #71
Everyone is on scalabrad-web which has its own node client... I am closing this now

[2016-07-02 19:12] #71 closed

[2016-07-07 17:14] aransfor commented on #68
fixed in new grapher

[2016-07-07 17:14] #68 closed

[2016-07-07 17:23] aransfor commented on #52
fixed with new grapher

[2016-07-07 17:23] #52 closed

[2016-07-07 17:28] aransfor commented on #17
Duplicate #18

[2016-07-07 17:28] #17 closed

[2016-07-07 17:29] aransfor commented on #16
@jayich I think we can safely call this datavault.py with the new versioning, is this true?

[2016-07-07 20:17] jayich commented on #16
Yes, changing the name should be fine.  I think the module name itself actually doesn't effect the versioning, just what is in the node information.

[2016-12-15 14:59] aransfor commented on #123
@jayich the problem here is that parameter vault does not write dynamically to the registry because the registry is slow, I think the solution is to have parameter vault subscribe to the registry changed signal and update when the registry is manually changed

[2016-12-15 15:18] aransfor opened #136 "script scanner should handle int parameters"
currently ints are treated as floats by the script scanner editor see  /common/lib/clients/script_scanner_gui/tree_view/editors/parameter_editor.py \

the way to handle this currently is to use int(parameter) in the actual experiment but this creates confusion because in the GUI you can set a parameter called 'average' to 1.756 for instance

[2016-12-20 02:33] #116 closed

[2016-12-22 19:17] jayich commented on #12
@aransfor , correct.

[2016-12-22 19:18] jayich opened #138 "Test code for scipt scanner"

[2016-12-22 19:19] jayich commented on #138
Given that script scanner can be run independently of any GUIs (thanks @aransfor ) test code is manageable.

[2016-12-22 19:27] aransfor opened #139 "Script Scanner should look at the length of parameters and do something smart with digit length"
The digits are set to 4 initially and this is really annoying to change every time you restart the gui

[2016-12-22 19:29] jayich commented on #139
agreed.

We could have an optional parameter "round" argument.

[2016-12-22 19:30] aransfor commented on #25
@jayich can we clear this? seems a bit unclear

[2016-12-22 19:31] jayich commented on #25
Too old.

[2016-12-22 19:31] #25 closed

[2016-12-22 19:31] aransfor commented on #20
@jayich bump

[2016-12-22 19:32] aransfor commented on #16
@jayich bump. I know you understand the versioning and this would go along with #137

[2016-12-22 19:33] jayich commented on #20
Is there an issue if some parameters are capitalized?

If it sorts by capitals I'm not interested in fixing, we'll just lowercase everything.

[2016-12-22 19:35] jayich commented on #16
I think nothing breaks at all if we just change dvascii.py to data_vault.py.  Labrad will still parse through and find the appropriate version of datavault.  I would not bump the data_vault version number for this fix, that is something that could cause problems.

@aransfor , @gregllong , is data_vault.py an okay name?

[2016-12-22 19:39] jayich commented on #16
fixed here:  https://github.com/CampbellGroup/common/pull/140

[2016-12-22 19:41] aransfor commented on #20
It is case insensitive and alphebatized for collections and parameters inside collection I have just checked closing..

[2016-12-22 19:41] #20 closed

[2016-12-22 19:41] jayich commented on #20
@aransfor , excellent.

[2016-12-22 19:46] #16 closed

[2016-12-22 19:49] jayich commented on #93
I think we are fine here, right?  @aransfor

[2016-12-22 21:16] jayich opened #142 "change sccript_scanner's limit_info class so that it uses attributes instead of arrays."
See: https://github.com/CampbellGroup/common/pull/141

[2016-12-22 21:16] #93 closed

[2016-12-22 22:11] aransfor commented on #5
@jayich I have looked extensively into this and get_next_counts does exactly what it says (it waits for the next counts and grabs it) This has to do with the pulser returning a time stamp versus an empty list. The problem with changing this to return a dummy 0.0 counts is that you cant store that data point in datavault since it doesnt have a time stamp and ALL PMT counts are saved as they should

[2016-12-22 22:16] aransfor commented on #6
def addData(self, data):
        varcount = len(self.independents) + len(self.dependents)
        if not len(data) or not isinstance(data[0], list):
            data = [data]
        if len(data[0]) != varcount:
            raise BadDataError(varcount, len(data[0]))

        # append the data to the file
        self._saveData(data)

        # notify all listening contexts
        self.parent.onDa

[2016-12-22 22:16] #6 closed

[2016-12-22 22:17] jayich commented on #5
Great.  I didn't realize there was a get_pmt_counts() function.

[2016-12-22 22:17] #5 closed

[2016-12-22 22:20] aransfor commented on #14
@jayich Just checked this one, It is impossible to put a parameter out of range. What I suspect happened is an invalid parameter was put in the registry and it rightfully said the parameter was missing because it did not get loaded

[2016-12-22 22:23] #14 closed

[2016-12-22 23:46] aransfor commented on #15
Dear future self and @jayich ,

This is non-trivial to implement. The Qmessagebox that pops up is on its own reactor and rightfully so, since we want scheduled scripts to continue to run. However this makes it very difficult -- if not impossible -- to programmatically close the window. Perhaps we should think about a log vs a pop up if we seriously want this

[2016-12-22 23:56] jayich commented on #15
Interesting.  Well, there several options.

In the script_scanner config the user could set "log" or "pop_window" for displaying errors.

Another option (I think I prefer) is to put all the errors in one window with a scrollbar.

[2016-12-22 23:57] aransfor commented on #30
fixed by #145

[2016-12-23 00:01] aransfor commented on #32
just checked this all parameters are saved every time a parameter is changed.

[2016-12-23 00:01] #32 closed

[2016-12-23 00:03] jayich commented on #32
@aransfor , just to be clear, you don't need to run an experiment for the parameters to be saved?

[2016-12-23 00:03] aransfor commented on #34
http://10.97.112.13:4567/Home this is already done ever since weve  been using the wiki to monitor this

[2016-12-23 00:03] #34 closed

[2016-12-23 00:05] aransfor commented on #57
@gregllong fixed this in #104

[2016-12-23 00:06] aransfor commented on #32
@jayich nope, just checked it

[2016-12-23 00:13] aransfor commented on #53
This is possible see https://github.com/CampbellGroup/Qsim/blob/master/scripts/experiments/ML_Piezo_scan/ML_Piezo_scan.py

for an example, we only have 3 parameters available to scan but the experiment has 5 total parameters

[2016-12-23 00:13] #53 closed

[2016-12-23 00:14] #57 closed

[2016-12-27 23:55] aransfor commented on #75
@jayich have you thought about this more? I looked into this a little and the parameters are imported as treedict branches, not sure if you can class that up in the background

[2016-12-27 23:57] aransfor commented on #59
@jayich just to clarify you mean display the dynamic data or the scan? As I see it the scan is already displayed however since the scripter determines how the scan is done Im not sure how to implement some live view of the data

[2016-12-27 23:58] aransfor commented on #56
we tracked this down to a bug with the wavemeter firmware, it sends the wrong current exposure on startup

[2016-12-27 23:58] #56 closed

[2016-12-28 00:08] jayich commented on #59
I don't remember.

If you scan parameter x from 1 to 3 in 3 steps does scriptscanner display 1, 2, and 3 as they are being scanned?

[2016-12-28 00:12] aransfor commented on #59
@jayich I dont think it can because the person who writes the run function in the experiment class controls the iteration, for instance they could do nothing or as is sometimes the case iterate many times at one point. I suppose the answer here would be if you  really wanted it to display you would connect to parameter vault in your experiment and update the value programatically in your script, t

[2016-12-28 00:13] jayich commented on #59
What if you scan a parameter with script scanner?  Perhaps that is the case I'm thinking of.

[2016-12-28 00:16] aransfor commented on #59
Ah I see perhaps this should have some file naming convention (which I thought it did) I can delve deeper into this

[2016-12-28 00:22] aransfor commented on #21
@gregllong are you still using datavault for images? We have been using datavault for years now and it hasnt crashed once so I assume this is an image issue

[2016-12-28 00:23] gregllong commented on #21
I am and I think it is an image issue. We are thinking about moving the image format to hdf5, but that is yet to be implemented.

[2016-12-28 17:57] aransfor opened #149 "registry remembers folders changes with shared reactor"
from now on we should explicitly cd into the whole folder structure e.g.

reg.cd(['', 'settings'])

as apposed to

reg.cd('settings')

because if a previous event in the reactor has already changed directories you may not be in the top level upon making the connections

[2016-12-28 17:58] jayich commented on #149
great point.

[2016-12-28 18:05] aransfor commented on #149
fixed with #148

[2016-12-28 18:07] jayich commented on #149
Possibly note on the wiki, if we have a registry page.

[2016-12-28 20:31] aransfor opened #151 "Shared connection object has issues with multiple signals"
This shared connection object is really having some issues.... If two different clients subscribe to the same signal with a shared connection object they need to request different contexts... It would be good to hear who uses these and if they really are a good idea

[2016-12-28 21:08] aransfor commented on #151
and the way we want to go is

[code]

[2017-01-03 16:42] aransfor opened #154 "Script Scanner GUI does not always reinitialize on server restart"
it fires of this message

[code]

and stays disabled

[2017-01-05 05:39] #12 closed

[2017-01-20 23:20] jayich opened #155 "replace pyqt4 with pyqt"
qtpy gives us great flexibility.  It works with qt4 or qt5.  qt4 is at the point now where it is nontrivial to install in some cases (probably most).

[2017-01-20 23:21] gregllong commented on #155
I think Andrew means [qtpy](https://pypi.python.org/pypi/QtPy)

[2017-01-20 23:22] jayich commented on #155
yes.

[2017-01-21 17:54] aransfor commented on #155
according to https://github.com/spyder-ide/qtpy you still need to install qt4 and or qt5 so this does not help with the problem

[2017-01-21 22:12] jayich commented on #155
The point here is that you can install qt4 or qt5 and the code will still work.

[2017-01-21 22:19] aransfor commented on #155
I guess personally I would rather just switch to 5 eventually than have some intermediary thing

[2017-01-21 22:22] gregllong commented on #155
The idea here is that since for our python 2.7 applications the Qt package that goes with the system is PyQt4, and for python 3.5 it's PyQt5 (I think this is true), it feels like backward compatibility is going to be necessary

[2017-01-21 22:50] #149 closed

[2017-01-22 05:16] jayich commented on #155
Reading into pyqt I think we should at least switch to pyqt as an intermediate step before switching to pyqt5, if that is even desirable.  pyqt5 has API changes from pyqt4, annoying.  What is the argument for not using pyqt and letting the end user decide when/if they switch to pyqt5?  or later likely pyqt6.

In any case, again I think it is better to incrementally move to pyqt5 through qtpy.  The

[2017-01-22 06:10] aransfor commented on #155
I would prefer not to refactor the code twice.

[2017-01-22 06:13] jayich commented on #155
The nice thing here is that you don't have to.  @gregllong  or I can knock this out.

[2017-01-22 06:19] aransfor commented on #155
perhaps. I for see still having to test all the code I use to make sure it works and correcting things as they come up. This is always more time consuming than it seems

[2017-01-22 06:28] jayich commented on #155
reading more carefully (here: https://pypi.python.org/pypi/QtPy) going to qtpy and then pyqt5 (if desirable) is the way to go.  The switch from qtpy to pyqt5 is a replace all of qtpy with pyqt5.

I don't know how to lock step everyone upgrading their respective code bases to pyqt5.  If we move to qtpy people good upgrade to pyqt5 whenever is convenient for their experiment.

[2017-03-17 23:42] jayich opened #161 "pywin32 to requirements.txt"

[2017-03-18 17:33] aransfor commented on #161
LGTM, maybe there should be a Windows requirements and Linux requirements..

[2017-03-18 18:02] jayich commented on #155
A related issue: qt4reactor vs. qt5reactor.  We should be able to do something like
[code]

[2017-03-18 18:45] jayich commented on #155
For qt5reactor viability and easy pip installation it seems we are waiting on this [PR](https://github.com/sunu/qt5reactor/pull/8).

Give the final comment a thumbs up.

[2017-03-18 23:38] aransfor commented on #155
I mean I stand by what I said before that I think this has no clear benefit but will require everyone digging through there code... From my experience with "simple changes" to script scanner and the camera for instance it affected our experimental ability with only subjective organizational gains. That's my opinion FWIW

[2017-03-18 23:40] aransfor commented on #155
Perhaps the real way to handle this stuff is to have a fork for refactoring changes like this and if you want to use that fork you can, plus those forks can merge periodically from common

[2017-03-19 21:02] jayich commented on #155
@aransfor , I will sort through what we need to do, but I am thinking about using

[2017-03-26 05:38] jayich commented on #161
addeed https://github.com/CampbellGroup/common/pull/162

[2017-03-26 05:38] #161 closed

[2017-03-26 05:43] jayich opened #163 "contribution and convention guidelines in the readme"

[2017-03-26 06:16] jayich commented on #163
branch for this issue: https://github.com/CampbellGroup/common/tree/163_contribution_convention_guidelines

[2017-03-27 18:53] jayich opened #164 "wavemeter client compatibility with WS-8 wavemeter"
The client will also need to work in a situation where there is no PID control parameter for this particular wavemeter instance.

[2017-03-27 18:57] aransfor commented on #164
@jayich I think the config should have a 'isLocking = True' for locking and non locking functions since this actually doesnt depend on the model

[2017-03-27 21:12] jayich opened #165 "emit server function name unification"
The wrapper and function naming are confusing for users.

https://github.com/CampbellGroup/common/blob/master/lib/servers/examples/emitter_Server.py

[2017-03-28 02:02] jayich commented on #164
@aransfor , @theoriginaljuice , we now have a networked functional WS-8 wavemeter.  Please take a look at https://github.com/CampbellGroup/common/tree/164_WS8_wavemeterclient where we have made these changes.  We would like to submit a PR.

[2017-03-30 10:44] jayich opened #166 "travis for repo"
https://travis-ci.org/

[2017-03-30 11:09] jayich opened #167 "coveralls for repository"
https://coveralls.io/

[2017-03-30 17:10] aransfor commented on #166
@jayich what is this?

[2017-03-30 17:16] jayich commented on #166
@aransfor , it builds common on a linux system, and then will run whatever we tell it in the yml file, nominally that will be test code.  It doesn't do much beyond install our requirements at the moment.

[2017-03-30 17:18] jayich commented on #166
closed via: https://github.com/CampbellGroup/common/pull/168

[2017-03-30 17:18] #166 closed

[2017-03-30 17:20] jayich opened #169 "travis badge branch to master."

[2017-03-30 20:51] jayich commented on #164
Move server to a unique directory, ws8_server, or similar.

[2017-03-30 20:53] jayich commented on #164
cut copy of "Multiplexserver.py" in the new "Multiplexer directory.

[2017-03-31 01:48] jayich commented on #164
@aransfor , it is probably be best to have the wavemeter servers in the same directory, as they are different versions of the same server.  Thoughts?

[2017-03-31 01:52] aransfor commented on #164
I think if the plan is to keep the ws8 separate forever it should go in its own folder but if we think it's going to merge later then the same folder makes sense

[2017-03-31 03:06] jayich opened #170 "Fix multiplexer directory name"
https://github.com/CampbellGroup/common/tree/master/lib/servers/Mulitplexer

spelling error.

[2017-03-31 03:07] jayich commented on #164
I deleted the duplicate of the PID server code here: https://github.com/CampbellGroup/common/commit/54bbd77260784fd3abf0823396f1314d859df672

The servers should go in the same server (when this gets fixed: https://github.com/CampbellGroup/common/issues/170) they'll be in the same directory.

One should inherit the other, or they should be merged into one server.  Either way, same directory.

[2017-03-31 04:02] jayich opened #172 "integrate test code into travis."

[2017-04-02 06:54] jayich opened #173 "treedict to requirements.txt"

[2017-04-02 19:30] jayich commented on #173
https://github.com/CampbellGroup/common/pull/174

[2017-04-02 19:30] #173 closed

[2017-04-02 19:31] jayich commented on #172
https://github.com/CampbellGroup/common/pull/175

[2017-04-02 19:31] #172 closed

[2017-04-03 23:10] jayich opened #176 "Include scalabrad in travis build"
It would be nice to test servers that don't rely on hardware with labrad on travis.

roadmap: https://github.com/labrad/pylabrad/issues/325#issuecomment-291305705

[2017-04-04 17:45] aransfor commented on #170
see PR #177

[2017-04-04 17:47] jayich commented on #164
closed via https://github.com/CampbellGroup/common/pull/171

[2017-04-04 17:47] #164 closed

[2017-04-06 23:58] jayich opened #179 "include iXon camera config in common/lib/config"

[2017-04-12 16:41] jayich commented on #163
closed via: https://github.com/CampbellGroup/common/pull/178

[2017-04-12 16:41] #163 closed

[2017-04-12 16:41] #170 closed

[2017-04-13 18:42] gregllong opened #180 "pulser_ok complete_infinite_iteration does not work properly"
If you start a infinite sequence by doing
'''python
pulser.start_infinite()
'''
stop the infinite sequence by using
'''python
pulser.complete_infinite_iteration
"""
then you can't start a new pulser sequence. However, if you stop the sequence using
"""python
pulser.stop_sequence()
"""
then you can start a new sequence properly.

[2017-04-13 19:38] jayich commented on #180
LGTM

[2017-05-10 22:51] jayich opened #183 "create new config folder for pulser 2"
These files are for pulser 1  https://github.com/CampbellGroup/common/tree/master/lib/config/pulser

Not sure of a good way to handle both giving the naming convention.  probably naming one folder pulser_1 and the other pulser_2 is best.

[2017-05-10 23:46] aransfor commented on #183
so the config file does not change so It shouldnt matter unless you are running both pulser one and two at the same time which is not possible anyways

[2017-05-11 00:02] jayich commented on #183
I think the config classes used for the pulser 1 and pulser 2 are different.  For example

This attribute:  https://github.com/CampbellGroup/qsim_config/blob/master/pulser/hardwareConfiguration.py#L24

does not appear in pulser 1: https://github.com/CampbellGroup/common/blob/master/lib/config/pulser/ddsConfiguration.py

[2017-05-11 00:11] aransfor commented on #183
This is fair, frankly I think pulser2 should just be called pulser and the old version should be moved into a deprecated folder so @gregllong can still use it as he is the only one left but is pushing toward the newer pulser. If this is how it will go we should just call the config "pulser" and let @gregllong still grab the old config in his local path. I am open to thoughts however

[2017-05-12 01:20] jayich opened #185 "Try/Except config loading behavior is unexpected if custom config has import errors."
The point of the Try/Except statement for loading config files is to load a custom configuration file if a user has one, and if not then it will load a default configuration file from common.

If you accidentally break a custom config file in such a way that it won't import, the Try/Except logic we employ will give unexpected behavior, it will load the common config file, even though the user has

[2017-05-12 01:28] theoriginaljuice commented on #185
I agree it's not so useful and I've been burned by this before. I stopped using the try/except and just have the code break if the import fails. If you think about it, whatever you're doing relies on the custom config you're trying to implement anyway and having a default doesn't really help you.

[2017-05-12 01:51] aransfor commented on #185
The point of the try except is for new users so the clients work. While I agree with you guys I am sensitive to first time installers. But it's up to you guys if we keep it

[2017-05-12 04:39] jayich commented on #185
I agree with @aransfor that it should work out of the box with a default config.  I can think of things like the wavemeter client as a good example.

I think we can clean this behavior up so that we get good default behavior when no custom config file is present, and an error thrown when a custom config file is present by has some error associated with it.  I don't think getting this behavior shou

[2017-05-19 17:47] crwood commented on #155
I have recently taken over maintainership of the qt5reactor library and have since cut a new release (0.4) with the PR in question merged. I hope this will help ease your transition to Qt5!

[2017-05-19 18:00] jayich commented on #155
@crwood thank you!

[2017-05-19 18:03] crwood commented on #155
No problem! Please let me know if you come across any other outstanding issues along the way.

[2017-05-25 06:54] jayich opened #186 "protect master"
We should make master a protected branch that requires at least an approved code review before changes can be merged in.

[2017-07-05 19:08] JackRoten opened #187 "add __init__.py to iXonServer directory"
This directory should have an __init__.py

https://github.com/CampbellGroup/common/tree/master/lib/servers/iXonServer

[2017-07-11 16:48] jayich commented on #186
@aransfor thoughts here?  Basically with GitHub settings we can permit code to be merged into master only if it has been reviewed (those with ownership permissions can still merge).  If you give this a thumbs up I'll make the change.

[2017-07-11 16:50] aransfor commented on #186
LGTM

[2017-07-11 16:57] jayich commented on #186
@aransfor , I enabled the most basic master review protection.  Someone needs to approve the code before it can be merged.  There are finer-grained settings that we could consider but this will likely be good for the foreseeable future.

[2017-07-11 16:57] #186 closed

[2017-07-11 17:52] jayich opened #188 "get working camera code into master"

[2017-07-14 20:34] jayich commented on #188
@aransfor , we'll submit a PR for this issue.  What we are doing is likely close to your solution, and we can converge on your configuration.

[2017-07-31 21:15] fanmingyu212 opened #190 "camera client on remote computer"
A client (and probably server) that shows images of the camera on computers not directly connected to the camera.

[2017-07-31 21:29] aransfor commented on #190
i do not think sending uncompressed video over the network is a good idea @theoriginaljuice and I did a back of the envelope calculation on this and it doesn't look promising...

[2017-07-31 21:32] jayich commented on #190
So what does youtube, netflix, etc. do?  The amount of data must be similar, right?  What am I missing here?

It would be great if we could get this to work, but possibly too hard.

[2017-07-31 21:38] fanmingyu212 commented on #190
I made some changes to the current server and tested it. It seems that with 64 Mbps total bandwidth (upload + download) we can transmit 512 * 512 images at the speed of 2 frames per second. I am not sure if it would be enough though. There are possibly some ways we can compress the images to improve the speed. I think compressing videos like what youtube and netflix do needs huge amount of calcula

[2017-07-31 21:46] aransfor commented on #190
the compress data then buffer, 2 frames per second is pretty slow, we operate at 10-100Hz i think the image data is 32bits per pixel and there are about 1 million pixels so at 10 Hz you need 320 Mbs uncompressed and unbuffered, seems unlikely to be worth the effort compared to just buying a second monitor and a $20 cable

[2017-08-01 01:14] theoriginaljuice commented on #190
I agree with Ransford on this. I think it would be awesome if it were easy, but it seems like way too much work for the reward.

[2017-08-05 19:29] annaliw opened #193 "in arduinoTTL server function ttl_read(chan) changes output"
When I use the function ttl_read(chan) it rewrites the TTL output to False instead of just returning the TTL state. Has anyone else seen this?

[2017-08-05 19:41] theoriginaljuice commented on #193
Ya it doesn't work right. On a long list of things to fix. If you could figure it out and submit a fixed pull request that would be awesome!!

[2017-08-05 19:46] aransfor commented on #193
It supposed to do that, you cant read an out put your writing to. When you change an Arduino to "readmode" on a pin it can no longer define an output and goes into high impedence mode. The read is designed to read external TTLs not tell you what TTL you output

[2017-08-05 20:16] annaliw commented on #193
Okay, thanks for explaining that. The function's other name (TTLInput) makes more sense to me now.

[2017-08-05 20:44] #193 closed

[2017-08-07 17:57] jayich commented on #188
closed via: https://github.com/CampbellGroup/common/pull/192

[2017-08-07 17:57] #188 closed

[2017-08-08 18:32] jayich opened #195 "move dac8718 to common"
@aransfor , we are interested in using this server: https://github.com/CampbellGroup/Qsim/tree/master/servers/dac8718server

can we put this in common?

[2017-08-08 18:35] jayich commented on #179
done here: https://github.com/CampbellGroup/common/pull/192

[2017-08-08 18:35] #179 closed

[2017-08-08 18:39] aransfor commented on #195
@jayich of course

[2017-08-08 18:39] aransfor commented on #195
actually @theoriginaljuice is about to use this dac as well so it will be perfect on common

[2017-08-08 18:42] jayich commented on #195
Okay, should we go ahead and submit a PR?  basically just copying and pasting to common from Qsim.

[2017-08-08 18:48] aransfor commented on #195
ya submit a PR so people see it but ill just LGTM it

*Anthony Ransford*
Graduate Student
UCLA Physics and Astronomy
Lab: PAB B-707
Phone: (310) 206-6982 | Email: ransfordanthony@gmail.com
http://campbellgroup.physics.ucla.edu/home

On Tue, Aug 8, 2017 at 11:43 AM, jayich <notifications@github.com> wrote:

[2017-08-08 23:53] jayich commented on #195
closed via: https://github.com/CampbellGroup/common/pull/196

[2017-08-08 23:53] #195 closed

[2017-09-07 15:15] #30 closed

[2017-09-07 15:17] aransfor commented on #21
fixed by #160

[2017-09-07 15:17] #21 closed

[2017-09-07 15:21] aransfor commented on #151
I think I have decided that the shared connection object is fine/necessary for scriptscanner and is the only place it is being used currently. Future clients should follow the stated convention here without the shared connection unless absolutely neccassary

[2017-09-07 15:21] #151 closed

[2017-09-07 15:25] aransfor commented on #154
fixed here https://github.com/CampbellGroup/common/commit/8373be065e7b19dee00669a95266fbaec50345c6#diff-2b58792727e9b18cb778cd70c8f9c42a

[2017-09-07 15:25] #154 closed

[2017-09-07 15:26] aransfor commented on #180
fixed with #181

[2017-09-07 15:26] #180 closed

[2017-09-07 15:29] aransfor opened #197 "move away from pulser 1"
@gregllong im assigning this to you. I think pulser 1 folder should make its way to molecules and we can move it to deprecated in common

[2017-09-07 15:29] aransfor commented on #183
closing this and opening new issue see #197

[2017-09-07 15:29] #183 closed

[2017-09-07 15:36] aransfor commented on #187
fixed here https://github.com/CampbellGroup/common/commit/f3e27ece7cb21146b352fac3ae8aa7e387f2c9b7

[2017-09-07 15:36] #187 closed

[2017-09-08 04:45] fanmingyu212 opened #198 "iXonServer save picture format"
The picture saving format is ambiguous. For example, a picture taken at 2017-09-07 09:03:24:091 is saved as "201797932491.csv", which may cause confusion on the date and time. The file format is also not CSV too.

[2017-09-08 04:46] fanmingyu212 opened #199 "iXonServer saving duplicate pictures"
iXonServer is saving duplicated pictures when the exposure time is set relatively long (~2 s). It might be better if it does not save picture when there is no new data.

[2017-09-08 20:15] fanmingyu212 commented on #198
@aransfor Do you think changing the data format to csv is a good idea? Also there are many trailing zeros in the saved data because the program saves too many digits. Maybe the saved digits can be reduced to minimize file size.

[2017-09-08 20:23] aransfor commented on #198
I'm not sure what you guys are referring to, we save pictures in two ways, 1. Right click and save 2. Through the server us get image which returns a numpy array. Both of these methods allow saving of files however you please

[2017-09-08 22:15] fanmingyu212 commented on #198
Do you use the checkbox "Save Images" in the iXonServer GUI interface? The code associated is https://github.com/CampbellGroup/common/blob/master/lib/servers/iXonServer/AndorVideo.py#L212. We are using this checkbox to save images.

[2017-09-12 16:44] jayich commented on #155
Anaconda no longer supports pyqt4.  Would be great to have code that works with pyqt4 or pyqt5.

[2017-09-12 16:49] gregllong commented on #155
A potential way of allowing for both pyqt4 and pyqt5 could be [this](https://github.com/CampbellGroup/common/commit/886414ac748d06363619e14ae80338a1d0926e7d). This requires the use of pyqtgraph which is not a problem for us

[2017-09-12 16:51] jayich commented on #155
I'm not sure if we can do this, but if we can import the try/except statement so that we don't repeat that code switching between this method and potentially just pyqt4 or pyqt5 would be much easier. Not repeating this code should be possible.

[2017-09-12 17:59] aransfor commented on #155
I vote for just switching to PyQt5 if were gonna do it then just get it done

[2017-09-12 18:53] theoriginaljuice commented on #155
I like the idea of switching to pyqt5. If the changes to the existing code
are minimal, then I agree with @ransford. Can you guys comment on how much
you think the existing code will need to be changed?

On Tue, Sep 12, 2017 at 10:59 AM, Anthony Ransford <notifications@github.com

[2017-09-12 19:20] aransfor commented on #155
I just want to iterate that we should not maintain support for anaconda since this is just some specific package manager. However I think upgrading to pyqt5 is valuable in its own right and we should start a linger term branch that implements pyqt5

[2017-09-12 20:18] jayich commented on #155
Regarding the amount of changes to existing code this is best figured out in a branch.  The one big difficulty in switching to pyqt5 is changing other dependent repositories when common is ready.  Just a number of moving pieces.

[2017-09-12 21:25] aransfor commented on #155
@theoriginaljuice from looking at the pyqt5/pyqt4 differences there is a change to the signal and slots in pyqt5 as well as some changes to the Qdialog stuff. It looks like the former is used in scriptscanner quite a bit so it would have to be ported while as far as I know @gregllong is the only one who uses Qdialog so he can comment on how hard that change will be.

see here for differences http:

[2017-09-12 21:35] aransfor commented on #155
I agree with @jayich with other repos as well as scripscanner being the biggest issues, again without a branch (and a volunteer) we wont really know

[2017-09-12 21:38] jayich commented on #155
Outside of Qdialog does getting scriptscanner working with pyqt5 cover all known pyqt usage?  Getting scriptscanner working with pyqt5, test (on branch) and then implement the other pyqt5 changes through common might be an efficient route forward.

[2017-09-12 21:56] aransfor commented on #155
I agree

[2017-09-12 22:08] jayich opened #201 "Use pyqt5 with scriptscanner"
This is a good first step to switching from pyqt4 to pyqt5.

https://github.com/CampbellGroup/common/issues/155#issuecomment-328991181

Changes here should not be merged into master, but into branches working on https://github.com/CampbellGroup/common/issues/155#issuecomment-328991181

[2017-09-13 15:23] aransfor commented on #201
branch created here https://github.com/CampbellGroup/common/tree/AMR/script_scanner_pyqt5

[2017-09-13 16:23] aransfor commented on #201
@jayich @theoriginaljuice I ran into a very big issue immediately, PyQt5 does not support python 2.7 and in fact does not have an installer for python 2.7 so one would have to do a custom unsupported build which is what I suppose anaconda does, however if PyQt5 or anaconda decides to be incompatible completely with 2.7 (at least in there installers of which only anaconda works) well all be up a cr

[2017-09-13 16:38] jayich commented on #201
@aransfor , okay, good to know.  Definitely sounds like we are blocked.

[2017-09-13 17:57] jayich opened #202 "Make common Python 2 and Python 3 compatible"

[2017-09-21 23:45] #198 closed

[2017-09-21 23:45] #199 closed

[2017-10-03 16:24] jayich opened #204 "ws8 wavemeter client update"
This improvement https://github.com/CampbellGroup/common/pull/203

should likely go in https://github.com/CampbellGroup/common/blob/master/lib/clients/Multiplexer/ws8_client.py

[2017-10-06 20:10] fanmingyu212 opened #206 "Server for the MOTion control unit"
@theoriginaljuice Do you have a server for the MOTion control unit? I can write a server for the control box if it does not exist.

[2017-10-06 20:55] theoriginaljuice commented on #206
Yes I do. You're referring to the rf electronics I assume? In the
barium-project repo on Github it's called TrapServer.

Justin

On Fri, Oct 6, 2017 at 1:10 PM, fanmingyu212 <notifications@github.com>
wrote:

[2017-10-07 00:05] fanmingyu212 commented on #206
@theoriginaljuice Could you upload the server to common if possible? We would like to use the server to control our rf electronics box.

[2017-10-07 00:08] fanmingyu212 commented on #206
@theoriginaljuice I can also add it to common if you can give me the access to the barium-project repo. Thank you.

[2017-10-07 00:55] theoriginaljuice commented on #206
You should be able to clone the barium-project without any special
permissions. We typically do not add things to common though unless it is
something that everyone uses. In this case I'm not sure this server belongs
in common, but rather in your experiment folder.

On Fri, Oct 6, 2017 at 5:08 PM, fanmingyu212 <notifications@github.com>
wrote:

[2017-10-07 00:58] fanmingyu212 commented on #206
@theoriginaljuice Thank you very much for the information. I will not add it to common then.

[2017-10-07 00:58] #206 closed

[2017-10-07 20:52] theoriginaljuice commented on #206
No problem, and don't forget to clone the config folder as well and modify
the trap server config file accordingly.

Justin

On Fri, Oct 6, 2017 at 5:58 PM, fanmingyu212 <notifications@github.com>
wrote:

[2017-10-07 23:10] #204 closed

[2017-10-09 20:58] #190 closed

[2017-11-14 22:17] jayich opened #208 "Add wavemeter software lock from Qsim"
Generalize the code below.  Likely needs a config file.

https://github.com/CampbellGroup/Qsim/blob/master/servers/ind_wavemeter_lock/single_chan_lock.py

[2017-11-17 04:01] jayich commented on #208
A lot of details in configurations and outputs need to be sorted out.  Too much for the foreseeable future.

[2017-11-17 04:01] #208 closed

[2017-12-18 19:28] jayich opened #211 "cut locking interface from ws_8 client"
https://github.com/CampbellGroup/common/blob/master/lib/clients/Multiplexer/ws8_client.py

We don't have the capability to use the wavemeter lock.  Just clutter.

[2018-01-11 03:58] fanmingyu212 opened #213 "read programmed pulse sequence in pulser server"
If we can read the current programmed sequence in pulser, then we can plot the pulse sequence as a chart. Please see https://github.com/CampbellGroup/common/tree/mf/pulser_get_programmed_sequence?files=1 for a possible solution.

[2018-01-11 05:08] aransfor commented on #213
I think a plotter exists.

[2018-01-11 05:13] fanmingyu212 commented on #213
@aransfor Do you possibly know where is the plotter located? Is it in common?

[2018-01-11 05:15] aransfor commented on #213
https://github.com/CampbellGroup/common/tree/master/lib/servers/Pulser2/pulse_sequences

[2018-01-11 05:15] aransfor commented on #213
There's a file called plot sequence not sure how it works

[2018-01-11 05:21] fanmingyu212 commented on #213
@aransfor Thanks! I believe this file can only be used by a client to plot the sequence the same client added to the pulser. However, it would not work for the situation that one client (or experiment) sets up a pulse sequence, and we want to access the sequence in another client.

I will test whether the file works tomorrow and then I will add a comment about it.

[2018-01-11 05:25] aransfor commented on #213
I see, you should check out the get human readable function in the pulser server. I imagine you could parse and plot that assuming it the server gives you the sequence list (I think it does)

[2018-01-11 05:27] fanmingyu212 commented on #213
I think human readable function can only return the sequence the same client connection added. It cannot return a sequence added by a different client connection.

[2018-01-11 05:28] fanmingyu212 commented on #213
Please see https://github.com/CampbellGroup/common/blob/master/lib/servers/Pulser2/pulser_ok.py#L214. The output is dependent on connection c.
`sequence = c.get('sequence')`

[2018-01-11 10:09] aransfor commented on #213
I see, not sure why you would need another clients pulse sequence (this is how contexts should work) however you can just pass human readable ttl the context of the client whose pulse sequence you are interested in

[2018-01-11 18:51] fanmingyu212 commented on #213
I agree that we can pass context when possible. However, I think it is difficult to get the context passed when we try to plot the sequence set in an experiment. Also I did not find public methods in Pulser server that allows us to get a list of contexts.

I understand contexts allow us to save a different pulse sequence for every client/experiment. But there might be cases that we need another cl

[2018-01-11 19:20] aransfor commented on #213
You can try  but I believe once the pulse sequence is sent to the FPGA there is no way to extract that. I suppose you can have the pulser server 'remember' the last uploaded sequence and create a @setting function that returns the last programmed sequence

[2018-01-11 20:30] fanmingyu212 commented on #213
Okay. That is what I am trying to do here: https://github.com/CampbellGroup/common/commit/26efa2b36c086891bb4b6a3156852a7b147b7858. If you think the code here makes sense, I will make a PR about it.

[2018-01-14 01:23] fanmingyu212 opened #216 "client manager"
A client manager to start/stop the clients from gui, similarly to how the labrad manager starts the servers. Then we do not need to open cmd window when starting clients.

It can list all .py files from clients folders. For every client, there could be four buttons to start, stop, add to quick access, and ignore. "Add to quick access" and "Ignore" will filter the clients shown on the gui, similarl

[2018-01-14 01:27] aransfor commented on #216
This is probably not something that belongs on common. We all have guis that run our clients in experiment specific repos

[2018-01-14 01:37] fanmingyu212 commented on #216
I thought it might be useful for the guis that run separate experiment. It can be added to the gui (command center) and then non mission critical but often used clients (power meter client, for example) can be run from the client manager. However, if you think it would not be very helpful for you, I will close the issue.

[2018-02-16 23:31] aransfor opened #219 "Double on and double off switches cause error"
@theoriginaljuice @davidhucul

https://github.com/CampbellGroup/common/blob/062a2f75b182e6bc9ad110366045f4685756bc11/lib/servers/Pulser2/sequence.py#L70-L79

^^^ This line should see sequenatial 'on' or 'off' switches and extend the sequence to be on and off all the time for instance addttlpulse(TTL3, on_time=1.0us, duration = 2.0 us ) causes a double switching error when combined with addttlpulse

[2018-02-22 07:06] fanmingyu212 opened #220 "Andor server save format change"
Currently Andor server saves pictures in TSV format and scientific notation. Therefore, every 512 * 512 image uses 8 MB storage, so the images are slow to save/read.

Maybe the following changes could help to reduce the storage space and to improve organization:
* Add an option in andor_config.py that allows saving pictures to subfolders of the image saving directory. For example, if the default s

[2018-02-25 04:09] fanmingyu212 commented on #220
I am working on these features on the branch: https://github.com/CampbellGroup/common/tree/mf/220_andor_server_saving_change. Please let me know if you have any comments or suggestions.

[2018-02-26 06:42] #211 closed

[2018-03-05 18:12] aransfor opened #221 "0 dBm equates to "OFF" with DDS even when allowed range includes 0 dBm"
https://github.com/CampbellGroup/common/blob/master/lib/servers/Pulser2/dds.py#L96-L98

@theoriginaljuice The code here clear checks for 0 frequency and 0 amplitude as 'OFF', I think 0 frequency is enough and we just delete that line

[2018-03-06 02:33] aransfor commented on #123
closing this issue with #212

[2018-03-06 02:33] #123 closed

[2018-03-06 02:34] aransfor commented on #35
this is a pyqt "bug"

[2018-03-06 02:34] #35 closed

[2018-03-18 01:09] fanmingyu212 opened #224 "shutter switch server and client use signal"
Shutter switch should use signal to update the switch status. This will allow updating of the switch status in clients if a switch is updated elsewhere (e.g. in an experiment).

[2018-03-22 00:31] #220 closed

[2018-03-22 08:03] #213 closed

[2018-03-22 08:03] #216 closed

[2018-03-27 01:47] jayich opened #226 "simplify script scanner config to just a path to experiments"
Have script scanner look in a directory and subdirectories for experiments.  Experiments should automatically load into script scanner based on a variable in the experiment.py file, similar to how labrad finds servers.

[2018-03-27 01:53] fanmingyu212 opened #227 "repeat scan on script scanner"

[2018-03-27 01:56] fanmingyu212 opened #228 "label refresh button on script scanner"
Our lab computers do not show label on "refresh" button in script scanner

[2018-03-27 02:44] aransfor commented on #228
That's too bad! I wonder if the string code for the refresh label is different for windows than linux

[2018-03-27 16:30] theoriginaljuice commented on #228
Same for us.

[2018-03-28 15:20] jayich commented on #202
treedict is not Python 3 compatible.

[2018-03-28 19:33] fanmingyu212 commented on #226
@aransfor I am working on this issue on https://github.com/CampbellGroup/common/tree/mf/228_script_scanner_enhancements. The syntax for the docstring of the experiments to be loaded in script scanner is:
[code]

I think this docstring has to be added at the beginning of the experiment. `name` is the class name in the experiment module you want to load, and `load_into_scriptscanner` is a boolean va

[2018-03-28 19:53] aransfor commented on #226
Is it possible to make the headline #!scriptscanner and that is it? I want to avoid spelling errors of which I make a lot. If it was just that one line I would delete it if I didnt want it to show up

[2018-03-28 19:54] aransfor commented on #226
Also I think we can eliminate the config all together and just store the path in the registry the way datavault does

[2018-03-28 19:54] aransfor commented on #226
BTW this looks awesome, I have wanted this for a long time

[2018-03-28 20:19] fanmingyu212 commented on #226
@aransfor The script scanner needs to know which class in an experiment module to look for if there are multiple classes in an experiment. Therefore, I think we cannot reduce the docstring to only a headline. Also, I want to follow the docstring format of how labrad web manager finds servers.

You can copy the same docstring to different experiments and only change the `name` variable and potentia

[2018-04-10 17:54] aransfor commented on #219
Fixed with #230

[2018-04-10 17:54] #219 closed

[2018-04-12 01:11] jayich opened #232 "authors list for license"
See: https://github.com/CampbellGroup/common/pull/217#issuecomment-380279047

[2018-04-13 05:12] jayich opened #234 "cut license material from modules - it is covered in the license file"

[2018-04-13 05:41] jayich commented on #232
@aransfor perhaps we don't need this with the GPL license?  Just keep it simple.

[2018-04-13 17:24] aransfor commented on #232
sounds good

[2018-04-13 17:24] #232 closed

[2018-04-14 16:07] fanmingyu212 opened #235 "add allow_all option to script scanner recognized experiment headers"
See @aransfor comments in https://github.com/CampbellGroup/common/issues/226#issuecomment-377023680. This option will allow an experiment to be run concurrently with all other experiments.

The default value for this option (when it is not present in an experiment header) should be `False`. When its value is `False`, it should read from `allow_concurrent` to get a list of experiments that can run

[2018-06-14 16:03] jayich commented on #64
part of pulser 1 and functionality that is not being used.

[2018-06-14 16:03] #64 closed

[2018-06-14 16:06] jayich commented on #22
see: https://github.com/CampbellGroup/common/issues/64

[2018-06-14 16:06] #22 closed

[2018-06-14 22:28] jayich commented on #234
I don't see license front matter in any modules.

[2018-06-14 22:53] cromes opened #237 "shutter client gets stuck in loop"
shutter client switches shutter on and off repeatedly when it should just be open #225

[2018-06-14 23:02] fanmingyu212 commented on #237
Is this problem associated with #225? Is the shutter client/server working properly if you pull from https://github.com/CampbellGroup/common/tree/mf/pre_225_shutter_change branch?

[2018-06-14 23:09] fanmingyu212 opened #238 "data vault saving values with arbitrary headers in .ini files"
Data vault can only save `Independent`, `Dependent`, `Parameter`, and `Comment` in the .ini file now. A function that saves a value under an arbitrary header name could be helpful to save measured values such as temperature, and wavemeter wavelength.

It will also enable general naming schemes to organize the values in the .ini files.

@aransfor could you take a look at this issue and let me know

[2018-06-18 19:03] aransfor commented on #237
@fanmingyu212 this is caused by #225 when you use signals and slots its easy to get loops going where the client updates thene the server replys and continues, this is actually becoming a big problem for us since our oven and loading beams us the switch

[2018-06-18 19:04] aransfor commented on #238
@fanmingyu212 can you not save an arbitrary heading for a parameter? such as parameter = (temperature, 20 deg) or paramter= (wavelength, 369nm). This is how we do this.

[2018-06-18 22:09] fanmingyu212 commented on #237
@aransfor @cromes do you get a specific error message or the shutter just enters a on/off loop? Does this happen on all of your shutters or some of them? Do you use `inverted` in the shutter client configuration? If you have more detailed information it could help.

[2018-06-18 22:13] fanmingyu212 commented on #238
@aransfor we would like to use a more flexible way to save data. Currently we can only save four types of headers,  `Independent`, `Dependent`, `Parameter`, and `Comment`. We would like to save data in the .ini file depends on the use case, and also to save measurements that are not paramaters in the .ini file.

[2018-06-18 22:15] fanmingyu212 commented on #238
If you have steps on how to reproduce this bug it would be great.

[2018-06-18 22:20] aransfor commented on #237
This happens with at least two channels (we have two channels in use) both are inverted however I dont think this matters, I have seen this happen before with the wavemeter and what can happen is that the server will notify all listeners of a change including the listener that made the change, if you click the button too quickly then you get stuck in this loop see the following commit I made to fi

[2018-06-18 22:30] fanmingyu212 commented on #237
@aransfor I could not reproduce this bug on our computer. I tried to click as fast as I can but the shutter behaves normally. Is this issue also hard to reproduce on your side?

[2018-06-18 22:38] fanmingyu212 commented on #237
@aransfor @cromes could you try the code in https://github.com/CampbellGroup/common/tree/mf/shutter_switch_fix branch and see if it fixed the issue for you?

[2018-06-18 22:56] aransfor commented on #237
I can at some point in the not so near future, it's not a big deal right now as we're working around it

[2018-06-29 23:48] jayich opened #242 "Andor server and markers"
@aransfor @theoriginaljuice is there a way to put makers (a vertical and horizontal line) on ions on the camera?  This would be helpful for us to find the RF null.

I imagine you both have thought about this before and are aware of potential pitfalls in implementation, if it doesn't exist already.

[2018-06-29 23:49] aransfor commented on #242
Just double click anywhere on the image

[2018-06-29 23:53] #242 closed

[2018-07-07 18:36] jayich commented on #238
@fanmingyu212 is this issue addressed?

[2018-07-07 18:45] fanmingyu212 commented on #238
@jayich Yes. It is addressed.

[2018-07-07 18:45] #238 closed

[2018-07-15 00:08] jayich opened #244 "travis failing on a twisted issue?"
https://travis-ci.org/CampbellGroup/common/builds/403969088?utm_source=github_status&utm_medium=notification

The travis build not passing came up in this PR:  https://github.com/CampbellGroup/common/pull/243

[2018-07-23 20:04] fanmingyu212 opened #245 "Script scanner slow when changing parameters"
The script scanner gui sometimes freezes for 1-10 s when changing parameters through the parameter vault using `set_parameter` function. Restarting the script scanner gui sometimes solves the issue, but sometimes not.

The line of code that takes the most time to execute is https://github.com/CampbellGroup/common/blob/master/lib/clients/script_scanner_gui/tree_view/Models.py#L198. Changing line 17

[2018-07-24 15:32] aransfor opened #246 "Scriptscanner"
When manually extending parameter bounds, does not update registry bounds

[2018-07-27 16:21] aransfor opened #247 "iXon server has unavailable functions during acquisition"
The get_temperature function and EMgain are unable to be accessed while the live video loop is running, I would like to implement the camera temperature into the GUI but cannot do so because of this. The exposure changes turn live video off, change the setting, then start it again. This behavior is non ideal and leads to live video going off occasionally while switching exposure. @fanmingyu212 hav

[2018-07-27 18:36] fanmingyu212 commented on #247
@aransfor I think adding controls for reading temperature is great. I tried to call `get_emccd_gain` and `get_temperature` function when the live video loop is running, and it gets the gain and temperature without error.

Changing the exposure does turn off the live update loop and turn it back on. I think if https://github.com/CampbellGroup/common/blob/master/lib/servers/iXonServer/AndorVideo.py#

[2018-07-27 18:53] fanmingyu212 commented on #202
@aransfor I started a branch https://github.com/CampbellGroup/common/tree/mf/python_3_upgrading for python 2/3 compatibility. If using python 3, it will use pyqt5 and pyqt4 for python 2. I will first start upgrading the pulser and normalpmtflow.

[2018-07-28 02:18] aransfor commented on #247
@fanmingyu212 After reading this I suspect we have the wrong firmware perhaps. Could you email me the DLL file you use and I will see if this fixes?

[2018-07-30 13:50] aransfor commented on #247
I tried all the files, perhaps @theoriginaljuice @gkchen can see if the function andor_camera.get_temperature() works during live video if so it is probably sadly my camera :(

[2018-07-30 13:57] aransfor commented on #202
@fanmingyu212 , sounds good! How is it going to deal with pyqt4/pyqt5? Also do you know the status of pylabrad compatibility with Python3 or if anyone has fully switched?

[2018-07-30 17:25] theoriginaljuice commented on #247
@aransfor, @fanmingyu212 , I can get the emccd gain while the live loop is running but I cannot get the temperature. I get the DRV_ACQUIRING error.

[2018-07-30 17:51] aransfor commented on #247
thanks @theoriginaljuice I get the same error, I wonder if there is a compatibility issue...

[2018-07-30 17:53] aransfor commented on #247
I just checked with @gkchen and he has the same issue, perhaps @fanmingyu212 has the secret software

[2018-07-30 18:50] fanmingyu212 commented on #247
@aransfor I am not sure about the reason. Too bad I don't have the secret software to solve the problem. Do you use the USB version of the camera or the pci card version? We are using the USB version and I was wondering if it could be the reason.

[2018-07-30 19:13] fanmingyu212 commented on #202
@aransfor I planned to have a separate folder "client_py3" for python 3 clients. The servers would be compatible with python 2 and 3 simultaneously though. I just learned that the Martinis Group has switched to python 3. I think pylabrad is now compatible with python 3.6 (See https://github.com/labrad/pylabrad/blob/master/setup.py#L18).

[2018-09-19 16:30] jayich opened #249 "contributing duplication"
contribution guidelines are here

https://github.com/CampbellGroup/common/blob/master/CONTRIBUTING.md

and

https://github.com/CampbellGroup/common/blob/master/README.md

[2018-10-26 18:08] aransfor commented on #202
@fanmingyu212 are you guys up and running on Python3?

[2018-10-26 19:42] fanmingyu212 commented on #202
@aransfor Yes, we are. Most of the servers and clients we are using in common (pulser, script scanner, ixonServer) are compatible with python 3. I am working on upgrading all servers and clients that we use and will finish soon.

I am not able to upgrade all servers and clients in common to python 3 as we are not using some of them so we cannot test, but they should be similar to the other upgrade

[2018-10-27 21:34] fanmingyu212 commented on #202
General methods I used to port servers to python 3:
- run 2to3 tool to fix any syntax issues
- check str / bytes conversions (different for python 2 and 3 and 2to3 cannot find all of problems)
- labrad `settings` `"s"` parameter is string in both python 2 and 3, but it is byte string in python 2 and unicode string in python 3.

General methods for porting clients to python 3:
- Use PyQt5 instead o

[2019-01-16 05:12] fanmingyu212 opened #250 "script scanner selectable error text when exception happens"
The error text from the script scanner server cannot be selected. https://stackoverflow.com/questions/32589776/qmessagebox-you-can-select-text-from might provide a solution to it.

[2019-03-05 23:03] fanmingyu212 opened #251 "datavault support for binary files"
A binary file can reduce data file size and reduce the load/save time for data files. We can add an option in datavault to save binary files (default can be false to keep the compatibility).

[2019-03-05 23:26] gregllong commented on #251
I thought @aransfor  is saving data files in .npy which I believe is numpy optimized binary file. @aransfor do you have some examples?

[2019-03-05 23:54] aransfor commented on #251
I do this for the images other files don't seem to matter because they're so small

[2019-03-06 01:21] fanmingyu212 commented on #251
@aransfor @gregllong thanks for the information about the .npy file! Maybe we can implement the .npy format as a saving option for all datavault files? We have some data files saving photon timetags, and they can add up to tens of MB or more for an experiment.